<main role="main">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Angular UI!</h1>
        <p>This is a sample Angular UI contaning welcome page, login & register functionalities. Users can register and login in the system. After logging in, a sample dashboard/homepage is shown. 
            User can see their profile information and update their profile as well. To get started, click on the top right user icon and register or login in the system.</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h2>Login</h2>
          <p>This system has login functionality.</p>
        </div>
        <div class="col-md-3">
          <h2>Register</h2>
          <p>This system has registration functionality.</p>
        </div>
        <div class="col-md-3">
          <h2>Dashboard</h2>
          <p>Dashboard after logging in is available.</p>
        </div>
        <div class="col-md-3">
            <h2>Profile</h2>
            <p>User can view their profie and edit their information.</p>
          </div>
      </div>
    </div> <!-- container -->

    <!-- Contact-->
    <section class="contact-section bg-black">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fa fa-map-marker text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Address</h4>
                            <hr class="my-4" />
                            <div class="small text-black-50">Planet Ultron, Universe 9</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fa fa-envelope text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Email</h4>
                            <hr class="my-4" />
                            <div class="small text-black-50"><a href="#!">loremipsum@com</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fa fa-mobile text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Mobile</h4>
                            <hr class="my-4" />
                            <div class="small text-black-50">+01 (234) 567890</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="social d-flex justify-content-center pt-5">
                <a class="mx-2" href="#!"><i class="fa fa-twitter"></i></a>
                <a class="mx-2" href="#!"><i class="fa fa-facebook-f"></i></a>
                <a class="mx-2" href="https://github.com/gorkhali125"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </section>

</main>

<!-- Footer-->
<footer class="footer bg-black small text-center"><div class="container">Copyright © Deepesh Khanal 2020</div></footer>